{% extends 'base.html.twig' %}

{% block title %}Verificar Solicitudes{% endblock %}

{% block body %}
    <h2 class="m-t-2">Usuarios en la Extranet</h2>
    <div class="row justify-content-md-center">
    
        <div class="col-10">

            <table class="table table-responsive-poncho">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Email</th>                                    
                        <th>Activo</th>                                    
                        <th>Acciones</th>                        
                    </tr>
                </thead>
                <tbody>                                
                    {% for usuario in usuarios %}
                        <tr>
                            <td class="align-middle">
                                {{ usuario.username }}<br>
                                {{ usuario.id }}
                            </td>

                            <td class="align-middle">
                                {{ usuario.lastName|upper }}, {{ usuario.firstName }}
                            </td>

                            <td class="align-middle">
                                {{ usuario.email }}
                            </td>

                            <td class="align-middle">
                                {% if usuario.enabled == true %}
                                    <span class="badge rounded-pill bg-success">Activo</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-warning">Deshabilitado</span>
                                {% endif %}
                            </td>

                            <td class="align-middle">
                                {% if usuario.enabled == true %}
                                    <a href="{{ path('deshabilitar_usuario', {id: usuario.id} )}}" class="btn btn-danger">Desactivar</a>
                                {% else %}
                                    <a href="{{ path('rehabilitar_usuario', {id: usuario.id} )}}" class="btn btn-danger">Reactivar</a>
                                {% endif %}
                                
                                <br>
                                <a href="#" class="btn btn-primary">Blanquear Clave</a>
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <br>.
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

<script>
    $(document).ready(function () {

    });
</script>

{% endblock %}

