{% extends 'base.html.twig' %}

{% block title %}Sexo index{% endblock %}

{% block body %}
    <h1>Sexo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sexo</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sexo in sexos %}
            <tr>
                <td>{{ sexo.id }}</td>
                <td>{{ sexo.sexo }}</td>
                <td>{{ sexo.descripcion }}</td>
                <td>
                    <a href="{{ path('sexo_show', {'id': sexo.id}) }}">show</a>
                    <a href="{{ path('sexo_edit', {'id': sexo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sexo_new') }}">Create new</a>
{% endblock %}
