  {{form_start(formRechazarSolicitud,{'action':path('solicitud_rechazar',{'hash':solicitud.hash})})}}
                    <div class="modal fade" id="rechazarSolicitudModal" tabindex="-1" aria-labelledby="rechazarSolicitudModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Rechazar Solicitud</h5>
                           {#  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
                        </div>
                        <div class="modal-body">
                                {{form_label(formRechazarSolicitud.observacionRechazo)}}
                                {{form_widget(formRechazarSolicitud.observacionRechazo)}}
                                {{form_errors(formRechazarSolicitud.observacionRechazo)}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="modal-close btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="modal-submit btn btn-primary">Aceptar</button>
                        </div>
                        </div>
                    </div>
                    </div>
{{form_end(formRechazarSolicitud)}}