{% extends 'base.html.twig' %}

{% block title %}EstadoCivil{% endblock %}

{% block body %}
    <h1>EstadoCivil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estado_civil.id }}</td>
            </tr>
            <tr>
                <th>EstadoCivil</th>
                <td>{{ estado_civil.estadoCivil }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('estado_civil_index') }}">back to list</a>

    <a href="{{ path('estado_civil_edit', {'id': estado_civil.id}) }}">edit</a>

    {{ include('estado_civil/_delete_form.html.twig') }}
{% endblock %}
