{% extends 'base.html.twig' %}

{% block title %}Grupo index{% endblock %}

{% block body %}
    <h1>Grupo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>KeycloakGroupId</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.id }}</td>
                <td>{{ grupo.KeycloakGroupId }}</td>
                <td>{{ grupo.nombre }}</td>
                <td>
                    <a href="{{ path('grupo_show', {'id': grupo.id}) }}">show</a>
                    <a href="{{ path('grupo_edit', {'id': grupo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('grupo_new') }}">Create new</a>
{% endblock %}
