{% extends 'base.html.twig' %}

{% block title %}Nacionalidad index{% endblock %}

{% block body %}
    <h1>Nacionalidad index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pais</th>
                <th>Codigo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nacionalidad in nacionalidads %}
            <tr>
                <td>{{ nacionalidad.id }}</td>
                <td>{{ nacionalidad.pais }}</td>
                <td>{{ nacionalidad.codigo }}</td>
                <td>
                    <a href="{{ path('nacionalidad_show', {'id': nacionalidad.id}) }}">show</a>
                    <a href="{{ path('nacionalidad_edit', {'id': nacionalidad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nacionalidad_new') }}">Create new</a>
{% endblock %}
