{% extends 'base.html.twig' %}

{% block title %}Nacionalidad{% endblock %}

{% block body %}
    <h1>Nacionalidad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nacionalidad.id }}</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>{{ nacionalidad.pais }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ nacionalidad.codigo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nacionalidad_index') }}">back to list</a>

    <a href="{{ path('nacionalidad_edit', {'id': nacionalidad.id}) }}">edit</a>

    {{ include('nacionalidad/_delete_form.html.twig') }}
{% endblock %}
