{% extends 'base.html.twig' %}

{% block title %}TipoDispositivo index{% endblock %}

{% block body %}
    <h1>TipoDispositivo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_dispositivo in tipo_dispositivos %}
            <tr>
                <td>{{ tipo_dispositivo.id }}</td>
                <td>{{ tipo_dispositivo.nombre }}</td>
                <td>
                    <a href="{{ path('tipo_dispositivo_show', {'id': tipo_dispositivo.id}) }}">show</a>
                    <a href="{{ path('tipo_dispositivo_edit', {'id': tipo_dispositivo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_dispositivo_new') }}">Create new</a>
{% endblock %}
