{% extends 'base.html.twig' %}

{% block title %}Mostrar Solicitud{% endblock %}

{% block body %}
    <h2 class="text-center">Solicitud: </h2>
    <div class="row justify-content-md-center">    
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Solicitud de alta: dispositivo <b>{{ solicitud.nicname }}</b></h4>              
                </div>
                {% if solicitud.personaFisica %}
                    <h3>Datos: Persona Física</h3>
                    <ul>
                        <li><b>Nombres: </b>{{ solicitud.personaFisica.apellido }}, {{ solicitud.personaFisica.nombres }}</li>
                        <li><b>DNI: </b>({{ solicitud.personaFisica.tipoDocumento.tipoDocumento }}) {{ solicitud.personaFisica.nroDoc }}</li>                     
                        <li><b>CUIT: </b>{{ solicitud.personaFisica.cuitCuil }}</li>
                        <li><b>Fecha de Nacimiento: </b>{{ solicitud.personaFisica.fechaNac|date("d-m-Y") }}</li>
                        <li><b>Sexo: </b>{{ solicitud.personaFisica.sexo.descripcion }}</li>
                        <li><b>Estado Civil: </b>{{ solicitud.personaFisica.estadoCivil.estadoCivil }}</li>
                        <li><b>Nacionalidad: </b>{{ solicitud.personaFisica.nacionalidad.pais }}</li>
                    </ul>
                    <br>
                    {% endif %}
                    {% if solicitud.personaJuridica %}
                    <h3>Datos: Persona Jurídica</h3>
                    <ul>
                        <li><b>razón Social: </b>{{ solicitud.personaJuridica.razonSocial }}</li>
                        <li><b>CUIT: </b>{{ solicitud.personaJuridica.cuit }}</li>
                        <li><b>Alta: </b> {% if solicitud.personaJuridica.fechaAlta %} {{ solicitud.personaJuridica.fechaAlta|date("d-m-Y") }}{% else %} S/D {% endif %}</li>
                        <li><b>Baja: </b> {% if solicitud.personaJuridica.fechaBaja %} {{ solicitud.personaJuridica.fechaBaja|date("d-m-Y") }}{% else %} S/D {% endif %}</li>
                    </ul>
                    <br>
                    {% endif %}
                    {% if solicitud.dispositivo %}
                    <h3>Datos: Dispositivo</h3>
                    <ul>
                        <li><b>Dispositivo: </b>{{ solicitud.dispositivo.nicname }}</li>
                        <li><b>Alta: </b> {% if solicitud.dispositivo.fechaAlta %} {{ solicitud.dispositivo.fechaAlta|date("d-m-Y") }}{% else %} S/D {% endif %}</li>
                        <li><b>Baja: </b> {% if solicitud.dispositivo.fechaBaja %} {{ solicitud.dispositivo.fechaBaja|date("d-m-Y") }}{% else %} S/D {% endif %}</li>
                    </ul>
                    <br>
                    {% endif %}
                    <h3>Status: </h3>
                    
                    <br><br><br>.
                    {% if solicitud.fechaUso == null %}
                      <div class="row">
                            <div class="col-6">
                                <div class="text-center">
                                    <div class="center-block">
                                       {#  <a href="{{path('solicitud_reenviarEmail',{'hash':solicitud.hash})}}" class="btn btn-lg btn-success">Reenviar Email</a> #}
                                           <!-- Button trigger modal -->
                                        <button data-url="{{path('solicitud_reenviarEmail',{'hash':solicitud.hash})}}" type="button" class="modal-form btn btn-lg btn-success">
                                             Reenviar Email
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                         {% if solicitud.fechaAlta == null or solicitud.correccion == null %}
                        <div class="row">
                            <div class="col-6">
                                <div class="text-center">
                                    <div class="center-block">
                                        <a href="{{ path('aceptarSolicitud', {'hash': solicitud.hash} ) }}" class="btn btn-lg btn-success">Aceptar Solicitud</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-6">
                                <div class="text-center">
                                    <div class="center-block">
                                        <a href="#" class="btn btn-lg btn-danger">Rechazar Solicitud</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endif %}
                    <br><br><br>.
                </div>
            </div>            
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    {{ encore_entry_script_tags('modales') }}
{% endblock %}
