<!-- INICIO SIDEBAR -->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bgsedronar sidebar collapse">
<div class="position-sticky pt-3">

    <ul class="nav flex-column text-white w-100">
        <li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a href="#submenu0" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
              <i class="fs-4 bi bi-person-circle"></i> {{ app.user }}
                    <span class="badge bg-danger" style="margin-left: 30px;">8</span><i class="bi bi-bell" style="color: white; margin-left: 6px;"> 
              </i>
          </a>
          
          <ul class="collapse nav flex-column ms-1" id="submenu0" data-bs-parent="#menu">
                
              <li class="w-100">
                  <a href="{{ asset('dashboard/change/password') }}" class="dropdown-item text-white"> Cambio de Clave </a>
              </li>
              <li class="w-100">
                  <a href="{{ asset('misDatos') }}" class="dropdown-item text-white"> Mis Datos </a>
              </li>
              <li>
                  <a href="{{ asset('oauth/logout') }}" class="dropdown-item text-white"> Desconectarse </a>
              </li>
          </ul>
          {% else %}
            <a href="#submenu0" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
              <i class="fs-4 bi bi-person-circle"></i> Login</i>
          </a>

           <ul class="collapse nav flex-column ms-1" id="submenu0" data-bs-parent="#menu">
                
              <li class="w-100">
                  <a href="{{ path('dashboard') }}" class="dropdown-item text-white"> Ingresar </a>
              </li>
              
          </ul>

          {% endif %}
        </li>
{#
        {% for id, prop in opcionesLateral %}
            {%  if prop.link =='' %}
               {%  set lnk = "#"  %}
            {%  else  %}
                {%  set lnk = app.request.baseUrl ~ '/' ~ prop.link  %}
            {%  endif %}
        <li class="nav-item">
            <a class="nav-link px-0 align-middle text-white" href="{{lnk}}"><span data-feather="opside_{{prop.id}}"></span>{{prop.name}}</a>
        </li>
        {% endfor %}
#}

       {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %} 
            <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                <i class="fs-4 bi bi-person-circle"></i> Usuarios</i>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    
                <li class="w-100">
                    <a href="#" class="dropdown-item text-white"> Lista Usuarios </a>
                </li>
                <li>
                    <a href="#" class="dropdown-item text-white"> Roles </a>
                </li>
                <li>
                    <a href="#" class="dropdown-item text-white"> Menues </a>
                </li>
            </ul>
            </li>

            <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                <i class="fs-4 bi bi-person-circle"></i> Dispositivos </i>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                    
                <li class="w-100">
                    <a href="{{ asset('acciones-extranet/lista') }}" class="dropdown-item text-white"> Lista Dispositivos </a>
                </li>
                <li>
                    <a href="{{ asset('dashboard/nueva-solicitud') }}" class="dropdown-item text-white"> Invitación a personas </a>
                </li>
                <li>
                    <a href="#" class="dropdown-item text-white"> Lista a confirmar </a>
                </li>
            </ul>
            </li>
        {% endif %}

    </ul>
</div>
</nav>
<!-- FIN SIDEBAR -->
